<header class="bg-red-600 py-1 px-3 text-white flex">
  <p class=" text-2xl flex-grow">Top Stories</p>
  <%= link_to "Refresh", top_path, method: :create, class: "pt-1" %>
</header>
<%= render partial: 'layouts/page_navigation', locals: { page: @page, total_pages: @total_pages, path: top_path } %>
<%= cache ['top-list', @top_item, @page] do %>
  <div class="grid grid-cols-3 gap-4">
    <%= render @stories %>
  </div>
<% end %>
