<header class="bg-red-600 py-1 px-3 mb-11 text-white flex">
  <p class="text-2xl flex-grow">
    <%= link_to "Top Stories", top_path %></p>
</header>
<%= render @item %>

<%= turbo_frame_tag "comments", src: item_comments_path(@item.hn_id) do %>
  <%= render partial: 'comments/comments', locals: { item: @item, comments: @item.kids.order(:location) } %>
<% end %>