<div class="flex">
  <div class="flex-initial w-24 h-11 flex justify-left">
    <% unless page <= 0 %>
      <%= link_to "< prev", "#{path}?page=#{page - 1}", class: "border border-red-600 hover:bg-red-500 hover:text-white rounded-full py-1 px-3 m-1" %>
    <% end %>
  </div>
  <div class="flex-grow flex justify-center">
    <span class="border border-red-600 bg-red-500 text-white rounded-full py-1 px-3 m-1 object-center">
      <%= page + 1 %>&nbsp;/&nbsp;<%= @total_pages + 1 %>
    </span>
  </div>
  <div class="flex-initial w-24">
    <% unless page + 1 > total_pages %>
      <%= link_to "more >", "#{path}?page=#{page + 1}", class: "border border-red-600 hover:bg-red-500 hover:text-white rounded-full py-1 px-3 m-1 float-right" %>
    <% end %>
  </div>
</div>
